@import "tailwindcss";

:root {
  --background: #060507;
  --foreground: #ffffff;
  --border: #1f1e20;
  --muted: #9b9b9c;
  --muted-background: #121113;
  --accent: #8eff01;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-muted-background: var(--muted-background);
  --color-accent: var(--accent);

  --font-body: var(--font-geist-sans);
  --font-heading: var(--font-funnel-sans);
}

@utility container {
  @apply mx-auto px-6;
}

@utility hero-padding-y {
  @apply pb-16 sm:pb-24 lg:pb-28 pt-36 sm:pt-40 lg:pt-48;
}

@utility section-padding-y {
  @apply py-20 sm:py-24 md:py-28 lg:py-36 xl:py-44;
}

@utility section-padding-t {
  @apply pt-20 sm:pt-24 md:pt-28 lg:pt-36 xl:pt-44;
}

body {
  background: var(--background);
  font-family: var(--font-geist-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-funnel-sans);
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html {
  scrollbar-width: none;
}
body {
  -ms-overflow-style: none;
}
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
}

[data-gsap-prepare] {
  opacity: 0;
  visibility: hidden;
}
.gsap-ready [data-gsap-prepare] {
  visibility: visible;
}
